{% load static %} {% load auxiliares %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PPGCC</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style-admin.css' %}">

    <link rel="stylesheet" href="{% static 'css/style-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-contrele-permicoes.css' %}">

    <script src="{% static 'tinymce/js/tinymce/tinymce.min.js'  %}" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
        // axios.get('../../backend/links.php').then(response => {


        //     lista = []
        //     console.log(response.data);
        //     response.data.forEach(dado => {
        //         obj = new Object();

        //         obj.title = dado[1];

        //         obj.value = dado[3];

        //         lista.push(obj);

        //     })


        //     axios.get('../../backend/lista_img.php').then(res => {

        //         lista_img = []


        //         res.data.forEach(dado => {
        //             obj = new Object();

        //             obj.title = dado[1];

        //             obj.value = dado[3];

        //             lista_img.push(obj);

        //         })


        //         console.log(lista_img);

        tinymce.init({

            selector: '.conteudo',
            plugins: [
                'advlist autolink link list image print preview hr searchreplace wordcount fullscreen insertdatetime media table paste emoticon'
            ],
            // link_list: lista,
            // image_list: lista_img,
            height: 300

        });



        //     }).catch(erro => {

        //         cosole.log("erro")

        //     })

        // }).catch(err => {

        //     console.log(err);
        // })
    </script>
</head>





<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">



        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-flex-start" href="/">
                <div class="sidebar-brand-icon">
                    <img class="animation__shake" src="{% static '/img/ufac-logo.png' %}" alt="AdminLTELogo" height="auto" width="45">

                </div>
                <div class="sidebar-brand-text mx-3">UFAC</div>
            </a>


            <hr class="sidebar-divider my-0"> {% block menu-home %}
            <li class="nav-item">
                <a href="/home/" class="nav-link">


                    <i class="fas fa-home"></i>
                    <span translate="no">Home</span>

                </a>

            </li>
            {% endblock %} {% block menu-noticia %}
            <li class="nav-item">
                <a href="/noticias/" class="nav-link">


                    <i class="fas fa-newspaper"></i>
                    <span translate="no">Notícias</span>

                </a>

            </li>

            {% endblock %} {% block menu-defesa %}
            <li class="nav-item">
                <a href="/defesa/" class="nav-link">


                    <i class="fas fa-user-graduate"></i>
                    <span translate="no">Defesas</span>

                </a>

            </li>
            {% endblock %} {% for secao in secoes %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{secao.id}}" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="{{ secao.icon }}"></i>
                    <span>{{secao.titulo}}</span>
                </a>
                <div id="collapse{{secao.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        {% for subsecao in subsecoes %} {% if subsecao.secao == secao %}
                        <a class="collapse-item" href="/subsecao-view/{{subsecao.id}}">
                            <i class="mr-1 far fa-sticky-note"></i> {{subsecao.titulo}}
                        </a>
                        {% endif %} {% endfor %}

                        <!-- url "upload:excluir_arquivo" id=arquivo.id -->
                        <a class="collapse-item" href='/editarSecao/{{ secao.id }}'>
                            <i class="mr-1 fas fa-cogs"></i> Configurar Seção
                        </a>
                        {% block cadastro_subsecao %}
                        <a class="collapse-item" href="/subsecao-cadastro/{{secao.id}}">
                            <i class="mr-1 fas fa-plus-circle"></i> Nova Subseção
                        </a>

                        {% endblock %}
                    </div>
                </div>
            </li>

            {% endfor %} {% block menu-secao-add %}
            <li class="nav-item">
                <a href="/addSecao/" class="nav-link">


                    <i class="fas fa-plus-circle"></i>
                    <span translate="no">Nova Seção</span>

                </a>

            </li>

            {% endblock %} {% block menu-upload %}
            <li class="nav-item">
                <a href="/upload" class="nav-link">


                    <i class="fas fa-upload"></i>
                    <span translate="no">Uploads</span>

                </a>

            </li>
            {% endblock %} {% block menu-usuario %}
            <li class="nav-item">
                <a href="/usuario/" class="nav-link">


                    <i class="fas fa-user-cog"></i>
                    <span translate="no">Usuários</span>

                </a>

            </li>

            {% endblock %}
            <li class="nav-item">
                <a href="/logout/" class="nav-link">


                    <i class="fas fa-reply"></i>
                    <span translate="no">Sair</span>

                </a>

            </li>
            <!-- Nav Item - Pages Collapse Menu -->

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="text-center w-100">
                        <i class="fas fa-user-circle"></i> {{usuario_logado.usuario }} - Super Admin
                    </div>


                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="container">

                        {% block messages %} {% if messages %} {% for message in messages %} {% if message.tags %}
                        <div class="alert alert-{{ message.tags }} msg fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
                        </div>
                        {% else %}
                        <div class="alert alert-info msg fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
                        </div>
                        {% endif %} {% endfor %} {% endif %} {% endblock %} {% block conteudo %} {% endblock %}
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container">

                    Copyright &copy; 2021 <a href="https://github.com/VictoriaCavalcante" target="_blank" style="color: #aaa">Victória Cavalcante</a>,
                    <a href="https://github.com/JoseLeandroNascimento" target="_blank" style="color: #aaa">José Leandro
                        Nascimento</a>,
                    <a href="https://github.com/EliasCacau" target="_blank" style="color: #aaa">Elias de Oliveira
                        Cacau</a>,
                    <a href="https://github.com/AndreCacau" target="_blank" style="color: #aaa">André de Oliveira
                        Cacau</a>. All rights reserved.
                    <div class="float-right d-none d-sm-inline-block">
                        <b>Version</b> 1.0.0-rc
                    </div>
                </div>
            </footer>

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>