{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
    <title>PPGCC</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css'  %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style-noticia.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style-defesas.css' %}">


</head>

<body>


    <header>

        <div class="fundo-cabecalho">

            <div class="container" style="display:flex; flex-direction:row; justify-content:space-between; align-items:center;">
                <img src="{% static 'img/ouo.svg' %}" class="logo">
            </div>

        </div>


        <nav class="navbar navbar-expand-md navbar-dark p-0" style="background-color: #2969BD;width: 100%;z-index:10;">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse div-menu vertical-menu" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item pt-2 pb-2 mr-1">

                            {% block menu-home %}
                            <a class="nav-link text-white texto-menu" href="/">

                                <i class="fas fa-home"></i> Página Inicial

                            </a>
                            {% endblock %}
                        </li>

                        {% for secao in secoes %}

                        <li class="nav-item dropdown pt-2 pb-2 mr-1">

                            {% if subsecao %} {% if subsecao.secao == secao %}
                            <a class="nav-link  text-white menu-ativado texto-menu" data-toggle="dropdown" href="">{{secao.titulo}}</a> {% else %}
                            <a class="nav-link  text-white menu-hover texto-menu" data-toggle="dropdown" href="">{{secao.titulo}}</a> {% endif %} {% else %}
                            <a class="nav-link  text-white menu-hover texto-menu" data-toggle="dropdown" href="">{{secao.titulo}}</a> {% endif %}

                            <div class="dropdown-menu caixa-menu-suspenso" style="z-index: 1000; position: absolute;">

                                {% for subsecao in subsecoes %} {% if subsecao.secao == secao %}

                                <a class="dropdown-item opcao-menu" style="z-index: 500;" href="/view-subsecao/{{subsecao.id}}">{{subsecao.titulo}}</a> {% endif %} {% endfor %}
                            </div>
                        </li>
                        {% endfor %} {% block menu-noticias %}
                        <li class="nav-item pt-2 pb-2 mr-1">
                            <a class="nav-link text-white menu-hover texto-menu" href="/view-noticias/">Notícias</a>
                        </li>
                        {% endblock %} {% block menu-defesas %}
                        <li class="nav-item pt-2 pb-2 mr-1">
                            <a class="nav-link text-white menu-hover texto-menu" href="/view-defesas/">Defesas</a>
                        </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>



    </header>

    {% block conteudo %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/defesas-scripts.js' %}"></script>
</body>

<footer class="main-footer rodape">


    <div class="rodape-img">

        <a href="http://www.ufac.br">

            <img src="{% static 'img/logoUFAC.svg' %}" class="img-rodape">

        </a>
    </div>
    <div class="rodape-info">

        <p>

            Universidade Federal do Acre - Programa de Pós Graduação em Ciência da Computação
            <br> Rodovia BR-364, Km-04, Distrito Industrial, CEP: 69920-900, Rio Branco/AC - BR
            <br> Telefone: (68) 3901-2510

        </p>


    </div>


    <div class="rodape-contatos">
        <strong>Copyright &copy;</strong> All rights reserved.
        <b>Version</b> 1.0.0-
        <a href="/login" target="_blank" class="login-admin">rc</a> - por
        <a href="https://github.com/AndreCacau" target="_blank">: André de Oliveira Cacau</a>
        <a href="https://github.com/EliasCacau" target="_blank">, Elias de Oliveira Cacau</a>
        <a href="https://github.com/JoseLeandroNascimento" target="_blank">, José Leandro da Silva Nascimento</a>
        <a href="https://github.com/VictoriaCavalcante" target="_blank">, Victória Karolina de Lima Cavalcante</a>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/voltar.js' %}"></script>

    </body>

</footer>

</html>