{% extends "base.html" %} {% block conteudo %}

<section class="content">


    <div class="container">


        <div class="card">
            <div class="card-header">
                <h3>Nova Subseção</h3>
            </div>

            <div class="card-body">

                <form action="/subsecao-salvar/" method="post">

                    {% csrf_token %}
                    <div class="row p-0 mb-3">
                        <div class="col-8">
                            <label for="titulo">Titulo</label>
                            <input type="text" maxlength="30" name="titulo" autocomplete="off" id="titulo"
                                class="form-control" placeholder="ex: Introdução" required>

                        </div>
                        <div class="col-4">


                            <label for="ordem">Ordem</label>
                            <select name="ordem" id="ordem" class="form-control">
                                {% for ordem in cont_subsecoes %}

                                {% if ordem == max_ordem %}

                                <option value="{{ ordem }}" selected>


                                    {{ ordem }}

                                </option>

                                {% else %}


                                <option value="{{ ordem }}" selected>


                                    {{ ordem }}

                                </option>


                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <label>Visibilidade da Página</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" value="1" class="form-check-input" name="ativada" checked>Ativada
                        </label>
                    </div>
                    <div class="form-check mb-4">
                        <label class="form-check-label">
                            <input type="radio" value="0" class="form-check-input" name="ativada">Desativada
                        </label>
                    </div>




                    <input type="hidden" name="id_usuario" value="{{ usuario_logado}}">
                    <input type="hidden" name="id_secao" value="{{id_secao}}">
                    <div class="text-center">

                        <button type="submit" class="btn btn-success mt-5">
                            <i class="fas fa-plus"></i>
                            Criar Subseção
                        </button>
                        <a href="/home/" class="btn btn-danger mt-5">
                            <i class="fas fa-ban"></i> Cancelar
                        </a>
                    </div>

                </form>
            </div>
        </div>

    </div>

</section>


{% endblock %}