{% extends "base.html" %} {% block menu-noticia %}
<li class="nav-item active">
    <a class="nav-link" href="/noticias/">

        <i class="fas fa-newspaper"></i>
        <span translate="no">Notícias</span>

    </a>
</li>
{% endblock %} {% block conteudo %}

<div class="content-wrapper" style="position:relative">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->


    <section class="container">
        <div class="card">
            <div class="card-header">
                Editar Notícia
            </div>
            <div class="card-body">

                <form class="form form-editar" action="/update_noticia/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>Título</label>
                    <input name="titulo" type="text" placeholder="Título da notícia" class="form-control inputText" value="{{ noticia.titulo}}" required>
                    <br>
                    <label>Prévia</label>
                    <textarea name="previa" placeholder="Digite uma prévia do conteúdo da notícia" class="form-control" required>{{ noticia.previa }}</textarea>
                    <br>
                    <label>Imagem da Notícia</label>
                    <div class="row">

                        <div class="col">
                            <div class="custom-file">
                                <input type="file" name="arquivo_upload" class="form-control pt-1 text-center custom-file-input " id="file" accept="image/*">
                                <label class="custom-file-label" for="customFile">Upload de arquivo</label>
                            </div>
                            <input type="hidden" name="id_usuario" value="">

                        </div>
                    </div>



                    <br>
                    <!-- <input type="file" name="img_nova" class="form-control pt-1" id="inputfileImg" value="" accept="image/*"> -->



                    <br>
                    <label>Conteúdo</label>
                    <textarea name="conteudo" class="form-control conteudo" placeholder="Escreva a notícia aqui">{{ noticia.conteudo }}</textarea>
                    <input type="hidden" name="id_noticia" value="{{ noticia.id }}">
                    <input type="hidden" name="id_usuario" value="1">

                    <!-- <input type="hidden" name="img_atual" value="<?= $img_atual ?>"> -->

                    <div class="text-center">

                        <button type="submit" class="btn btn-success mt-3">
                            <i class="nav-icon fas fa-save"></i>
                            Salvar
                        </button>
                        <a href="/noticias/" class="btn btn-danger mt-3">
                            <i class="fas fa-ban"></i> Cancelar
                        </a>

                    </div>
                </form>
            </div>


    </section>

    <!-- /.content -->
    </div>

    {% endblock %}